
/* Navbar CSS */
.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#DD3726,#FF542C);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item, .header__navbar-item-link{
   display: inline-block;
   font-size: 1.4rem;
   color: var(--white-color);
   text-decoration: none;
   font-weight: 300;
}

.header__navbar-item:hover, 
.header__navbar-item-link:hover,
.header__navbar_icon-link:hover{
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}   

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar_icon-link{
    display: inline-flex;
    align-items: center;
}

/* Css hover item */
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item-link--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid  #FB9086;
    height: 12px;    
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar_icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--text-color);
}

/* Css header QR Code */
.header__qr{
    width: 180px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__qr::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;    
    top: -16px;
    left: 0;
    display: block;
}


.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img{
    height: 15px;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

/* Header notification */
.header__notify {
    position: absolute;
    width: 404px;
    top: 118%;
    background-color: var(--white-color);
    right: 0;
    border: 1px #d3d3d3 solid;
    animation: headerNotiGrowth ease-in 0.2s;

    /* Thuộc tính animation đổi tâm */
    transform-origin: 90% top;
    display: none;
    will-change: opacity, transform;
}

/* Css arrow notify */
.header__notify::before{
    content: "";
    border-width: 20px 30px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -29px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    top: -16px;
    height: 20px;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

@keyframes headerNotiGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    user-select: none;
    cursor: default;
}   


.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;

}
.header__notify-list {
    padding-left: 0;
}
.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #F7F7F7;
}

.header__notify-item--viewed{
    background-color: rgb(255, 84, 46,0.1); 
}

.header__notify-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
    
}
.header__notify-img {
    width: 48px;
    object-fit: contain;

}
.header__notify-info {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    

}
.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756E6E;
    line-height:1.8rem ;
    margin-top: 4px;
}

.header__notify-footer{
   
    
}
.header__notify-btn{
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    display: block;
}

/* auth modal */
.auth-form__container{
    padding: 0 32px;
}

.auth-form--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--black-color);
}

.auth-form__switch-btn{
    font-size: 1.5rem;
    color: var(--Primary-color);    
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form{
  
}

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__input{
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;   
    font-size: 1.4rem;
    border: 1px var(--border-color) solid;
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--Primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
   background-color: #F5F5F5;
   padding: 16px 36px ;
   display: flex;
   justify-content: space-between;
   margin-top: 22px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials--facebook
.auth-form__socials--icon{
    color: var(--white-color);

}

.auth-form__socials-label{
    margin: 0 32px;
}

.auth-form__socials--google{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-sparate{
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: 1px 16px 0;
}

.auth-form__help-forgot{
    color: var(--Primary-color);
}

/* header-with-search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}